
<div id='LoginWrapper' ng-show='Show.LoginPrompt' style='position: relative;height: 5vh; line-height: 5vh;width: 100%;text-align: right;padding-right: .5%;'>
    <div style="position: relative;left: -100px;">
        <div class='loginErrorMessage' style="position: absolute;
             left: 62%;color: #fff;opacity: 0;">
            <span style='background: #ff770b;'>Username / Password is incorrect!</span>{{$scope.Button.disableLoginButton}}
        </div>

        <div class='' style='color: #FFF;vertical-align: top;width: 100%;'>
            <form class='col-6' name='loginChecker' method='post' ng-submit='CheckLogin(Credentials)' novalidate >
                <div style='box-sizing: border-box;height: 5vh;width:80%; display: inline-block;text-align: right;'>

                    <div style='height: 5vh;line-height: 5vh;vertical-align: top;padding-top: 2px;display: inline-block; width: 50%;position: relative;' >
                        <input type='email' name='username' ng-model='Credentials.Username' ng-required='true' 
                               style='margin-right: 2%;height: 2.5vh;
                               padding-left: 5px;padding-right: 5px;font-size: .8rem;
                               border: 2px outset #37899b' placeholder='Username' />
                        <input type='password' name='passwd' ng-model='Credentials.Passwd'  ng-required='true' 
                               style='margin-right: 2%;height: 2.5vh;
                               padding-left: 5px;padding-right: 5px;font-size: .8rem;
                               border: 2px outset #37899b' placeholder='Password' />
                        <input type='checkbox' name='RememberMe' ng-model='Credentials.RememberMe' style='position: relative;left: -95%; top: 60%;'/>
                        <span style='position: absolute;
                              left: 7%; top: 25%;
                              font-size: .8rem;'>Remember me</span>

                        <span style='display: inline-block;position: absolute; 
                              left: 49%; top: 25%;
                              font-size: .8rem;'>Forgot Password</span>  

                        <button type='submit' name='login'                 
                                ng-disabled="loginChecker.username.$invalid || loginChecker.passwd.$invalid"
                                ng-class="{disableLoginButton: loginChecker.username.$invalid || loginChecker.passwd.$invalid}"
                                style='position: absolute;
                                font-family: "Raleway";
                                font-size: 1rem;
                                color: #FFF;
                                height: 2.2vh;
                                left: 95%;
                                top: 7%;
                                padding: .5% 2%;
                                background: #257990; 
                                border: 2px solid #37899b;
                                '>Login
                        </button>                          
                    </div>               
                </div>           
            </form>
        </div>
    </div>
</div>

<div id='LoggedInUserInformation' ng-show='Show.LoggedInUserInformation'>

    <div class='loggedInUser'>
        <img src="assets/imgs/user43.png" alt="User Icon" class='pr5'/>
        <span class="usersName">{{UserInfo.FullName}}</span>
    </div>

    <div class='loginAndlogout' ng-click='Logout()'>
        <img src="assets/imgs/power buttons.png" alt="Power On Icon" class='pr5'/>
        <span>Logout</span>

    </div>
</div>
