/* 
    Created on : Oct 1, 2015, Oct 1, 2015 8:27:12 PM
    Author     : Davis
*/
*,
*:after,
*:before {
  box-sizing: border-box;
  vertical-align: top;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Raleway";
  font-size: 1rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  max-width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
header {
  padding: 0;
  margin: 0;
  min-height: 5vh;
  line-height: 5vh;
  padding-left: 12px;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  background: #00587A;
  width: 100%;
}
header #headerContent {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
header #headerContent .logo {
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  color: #FFF;
}
header div#headerContainer {
  box-sizing: border-box;
  width: 15%;
  display: inline-block;
}
header div#headerContainer img {
  width: 100%;
  vertical-align: middle;
}
header div#meunContainer {
  box-sizing: border-box;
  width: 84%;
  min-height: 5vh;
  line-height: 5vh;
  display: inline-block;
}
header div#headerContent div.logo span.AsterName {
  font-weight: normal;
  font-size: 1.5rem;
  color: #E7DFC6;
}
header div#headerContent div.logo span.AsterName {
  font-weight: 800;
  font-size: 2rem;
  color: #FFF;
}
nav {
  background: #00587A;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 75px;
  height: 75px;
  position: relative;
  vertical-align: top;
}
nav ul {
  height: inherit;
  padding: 0;
  margin: 0;
}
nav ul li {
  height: inherit;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
nav ul li:last-of-type {
  float: right;
}
nav ul li:last-of-type:after {
  clear: both;
}
nav ul li:last-of-type a {
  border-left: 2px solid #272727;
  border-right: 0;
}
nav ul li a {
  display: inline-block;
  height: inherit;
  margin: 0 auto;
  padding: 28px 33px;
  text-decoration: none;
  color: #FFF;
  border-right: 2px solid #272727;
  font-family: "Roboto";
  text-transform: uppercase;
}
nav ul li a > span.menuItem {
  display: inline-box;
  box-sizing: border-box;
  font-size: 1rem;
  overflow: hidden;
}
nav ul li > div.submenuContainer {
  box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  border: 2px solid #1A181B;
  background: #FDFDFD;
  min-height: 20px;
  min-width: 150px;
  left: -7px;
  visibility: hidden;
}
nav ul li:hover > div.submenuContainer {
  visibility: visible;
}
nav ul li:hover > div.submenuContainer:hover {
  background: #00587A;
  color: #FFF;
}
nav ul li > div.submenuContainer > div.submenuItem {
  margin-bottom: 5px;
  font-family: "Raleway";
}
nav ul li:hover > div.submenuContainer:hover > div.submenuItem:hover {
  font-weight: bold;
}
div#mainContainer {
  display: inline-block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: calc(95vh);
  width: calc(95vw);
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}
.clear {
  clear: both;
}

/*# sourceMappingURL=../maps/asterGeek.css.map */
