/* 
    Created on : Oct 1, 2015, Oct 1, 2015 8:27:12 PM
    Author     : Davis
*/
@import "variables";

*, *:after, *:before
{
    box-sizing: border-box;
    vertical-align: top;
    margin: 0;
    padding: 0;
    
}

body
{
    font-family:  @MainFont;
    font-size: @MainFontSize;
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-flow:  row;
    flex-wrap:  wrap;
    flex-direction:  row;
    
}
header
{
    padding: 0;
    margin: 0;
    min-height: @HeaderHeight;
    line-height: @HeaderHeight;
    //max-height: 5vh;
    background: @PrimaryColor;    
    padding-left: 12px;
    order: 1;
    background: @PrimaryColor;
    width: 100%;
}

header #headerContent
{
    display: flex;
    flex-flow:  row;
    flex-wrap:  wrap;
    flex-direction:  row;
    
    
}

header #headerContent .logo
{
    order: 1;
    color: #FFF;
    
}

header div#headerContainer
{
    box-sizing: border-box; 
    width: 15%;
    display: inline-block;    
    
    
}

header div#headerContainer img
{
    width: 100%;
    vertical-align: middle;
}

header div#meunContainer
{
    box-sizing: border-box; 
    width: 84%;
    min-height: @HeaderHeight;
    line-height: @HeaderHeight;
    display: inline-block;
    
}

header div#headerContent div.logo span.AsterName
{
    font-weight:  @LogoNameFirstFontWeight;
    font-size: @LogoNameFirstFontSize;
    color: @LogoNameFirstColor;
}
header div#headerContent div.logo span.AsterName
{
    font-weight:  @LogoNameSecondFontWeight;
    font-size: @LogoNameSecondFontSize;
    color: @LogoNameSecondColor;
}

nav
{
    background: @NavBackgroundColor;
    margin:     0; 
    padding:    0;
    box-sizing: border-box;
    min-height: @NavHeight;
    height:     @NavHeight;
    position:   relative;
    vertical-align: top;
}

nav ul
{
    height:     inherit;
    padding: 0;
    margin: 0;
}

nav ul li
{
    height: inherit;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

nav ul li:last-of-type 
{
    float: right;    
}

nav ul li:last-of-type:after
{
    clear: both;
}

nav ul li:last-of-type a
{
    border-left: 2px solid #272727;
    border-right: 0;
    
}

nav ul li a
{
    display: inline-block;
    height: inherit;
    margin: 0 auto; 
    padding: @NavTopNBottomPadding @NavLeftNRightPadding;
    text-decoration: none;
    color: @NavTextColor;
    border-right: 2px solid @NavDividerColor;
    font-family: @NavTextFont;
    text-transform:  uppercase;
}

nav ul li a > span.menuItem
{
    display: inline-box; 
    box-sizing: border-box;
    font-size: 1rem;
    overflow: hidden;
}

nav ul li >  div.submenuContainer
{
    box-sizing: border-box; 
    padding-left: @SubmenuContainerPadding; 
    padding-right: @SubmenuContainerPadding;
    padding-top: @SubmenuContainerPadding;  
    padding-bottom: @SubmenuContainerPadding; 
    position: absolute; 
    border: 2px solid @SecondaryColor; 
    background: @SubmenuBackgroundColor; 
    min-height: @SubmenuContainerHeight;
    min-width: @SubmenuContainerWidth;
    left:-7px;
    visibility: hidden;
}

nav ul li:hover  >  div.submenuContainer
{
    visibility: visible;
}

nav ul li:hover  >  div.submenuContainer:hover
{
    background: @PrimaryColor;
    color: @NavTextColor;
    
}

nav ul li > div.submenuContainer > div.submenuItem
{
    margin-bottom: 5px;
    font-family: @MainFont;
    
} 

nav ul li:hover  >  div.submenuContainer:hover  >div.submenuItem:hover
{
    
    font-weight: bold;
}
div#mainContainer
{
    display: inline-block;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    min-height: calc(100vh - @HeaderHeight);
    width: @MainContainerHeight;
    order: 2;
}

.clear{
    clear: both;
}