@PrimaryColor: #00587A;
@SecondaryColor: #1A181B;


@MainFont: "Raleway";
@MainFontSize:  1rem;

@HeaderHeight: 5vh;

@LogoNameFirstColor: #E7DFC6;
@LogoNameSecondColor: #FFF;
@LogoNameFirstFontSize: 1.5rem;
@LogoNameSecondFontSize: 2rem;
@LogoNameFirstFontWeight: normal;
@LogoNameSecondFontWeight: 800;

@NavBackgroundColor:        @PrimaryColor;
@NavTextFont: "Roboto";
@NavHeight: 75px;
@NavDividerColor: #272727;
@NavTextColor: #FFF;
@NavTopNBottomPadding: 28px;
@NavLeftNRightPadding: 33px;

@MainContentBackground:  #F3F3F0; // E9F1F7
@MainContainerWidth: 100vw;
@MainContainerHeight: calc(@MainContainerWidth - @HeaderHeight);


@SubmenuBackgroundColor: #FDFDFD;
@SubmenuContainerPadding:  5px;
@SubmenuContainerHeight: 20px;
@SubmenuContainerWidth:  150px;

