@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-call37:before {
	content: "\e000";
}
.flaticon-checked21:before {
	content: "\e001";
}
.flaticon-digital25:before {
	content: "\e002";
}
.flaticon-facebook30:before {
	content: "\e003";
}
.flaticon-facebook55:before {
	content: "\e004";
}
.flaticon-menu48:before {
	content: "\e005";
}
.flaticon-multiple25:before {
	content: "\e006";
}
.flaticon-network11:before {
	content: "\e007";
}
.flaticon-surveillance86:before {
	content: "\e008";
}
.flaticon-telephone56:before {
	content: "\e009";
}
.flaticon-twitter1:before {
	content: "\e00a";
}
.flaticon-users6:before {
	content: "\e00b";
}
.flaticon-web42:before {
	content: "\e00c";
}
