/* 
    Created on : Oct 1, 2015, Oct 1, 2015 8:25:02 PM
    Author     : Davis
*/
html
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*, *:after, *:before
{
    box-sizing: inherit;
    margin: inherit;
    padding: inherit;
}

div, nav
{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}